<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <!-- DEFINE O MÉTODO DE AUTENTICAÇÃO-->
    <authentication mode="Forms">
      <forms name="WebSite" path="/" requireSSL="false" protection="All" loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx"/>
    </authentication>
  </system.web>

  <!-- PROTEGE A PASTA App_Admin-->
  <!-- A propriedade deny, nega o acesso de usuários não autenticados. -->
  <location path="App_Admin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

</configuration>
